* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4a4a4a;
}

#landing-header {
  width: 100%;
  max-width: 1300;
  background-image: url(file:///Users/kurtle/TIY/surfnpaddle/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#landing-header-col {
  display: flex;
  width: 75%;
  margin: 0 auto;
  max-width: 902;
  height: 525px;
  /*border: 1px solid red;*/
}

/*#landing-header-col .img-responsive {
  display: block;
  width: 100%;
  flex: 1;
}*/

#landing-header-col .landing-header-content {
  width: 100%;
  padding: 0px;
  /*border: 1px solid red;*/
  align-self: center;
  text-align: center;
}

.header-nav {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

#header-top-left {
  display: inline-block;
  color: #cacecd;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 1%;
}

#header-top-left p {
  margin: 0;
  padding: 0;
}

/*#header-top-left img {
  height: 44px;
  fill: white;
  color: white;
  margin: 0;
  padding: 0;
}*/

#header-top-right {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  padding-top: 1%;
  font-size: 16px;
}

#header-top-right ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

#header-top-right ul li {
  display: inline-block;
  padding: 0;
  padding-left: .5em;
  padding-right: .5em;
}

#header-top-right li a {
  color: #cacecd;
  text-decoration: none;
}

.landing-header-content h1 {
  font-size: 82px;
  color: #66ffe0;
  margin: 0;
}

.landing-header-content p {
  color: #cacecd;
}

.body-content {
  display: flex;
  width: 75%;
  margin: 0 auto;
  max-width: 902px;
}

.body-col-left {
  flex: 2;
  padding: 0;
  padding-top: 6%;
  padding-bottom: 6%
}

.body-col-left h2 {
  font-size: 57px;
  padding: 0px;
  margin-top: 0px;
  color: #00cca3;
}

.body-col-right {
  flex: 1;
  min-width: 175px;
  padding: 0;
  padding-top: 6%;
  padding-bottom: 6%;
  margin: 0;
  margin-left: 6%;
  /*border: 1px solid red;*/
}

.user-info {
  padding: 0;
  padding-top: 2em;
}

.body-col-right ul {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

.body-col-right li {
  display: inline-block;
  padding: 0;
  padding-left: .5em;
  padding-right: .5em;
  line-height: 1em;
}

.body-col-right li a {
  color: grey;
  text-decoration: none;
  font-size: 12px;
}

.user-profile {
  text-align: center;
}

.user-info #user-name {
  margin: 0;
  margin-top: .75em;
  font-size: 14px;
  font-weight: bold;
  color: #00cca3;
}

blockquote {
  color: #00cca3;
  font-size: 21px;
}

.sidebar-ad {
  padding: 0;
  margin: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}

.sidebar-ad a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

.sidebar-text h4 {
  color: #00cca3;
}

.sidebar-text p {
  color: grey;
  font-size: 12px;
}

#page-footer h2 {
  font-size: 57px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  text-align: center;
  color: #00cca3;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.footer-headline {
  display: block;
  text-align: center;
  flex: 4;
}

.flex1 {
  flex: 1;
  position: relative;
}

#page-footer {
}

.footer-story {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: .1em;
  left: .5em;
  font-size: 22px;
  color: #66ffe0;
  font-weight: bold;
}

.footer-footer {
  width: 100%;
  background-color: #181b1a;
}

.footer-nav {
  position: relative;
  bottom: 0;
  width: 75%;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 1em;
  margin: 0 auto;
  max-width: 902px;
  font-size: 12px;
}

.footer-footer p {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-footer ul{
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: #cacecd;
}

.footer-footer li {
  display: inline-block;
  padding: 0;
}

.footer-footer li a {
  color: #cacecd;
  text-decoration: none;
  font-size: 12px;
}

.copyright {
  color: #cacecd;
}
